<div class="f-info text-black mt-3 p-2 text-center">
  <div class="f-info-social">
    <a href="/home"><i class="fa-brands fa-square-facebook"></i></a>
    <a href="https://www.instagram.com/aadesh_1504?igsh=MWJvNmxiaG5kZjRzZA=="
      ><i class="fa-brands fa-square-instagram"></i
    ></a>
    <a href="https://www.linkedin.com/in/aadeshmemane/"
      ><i class="fa-brands fa-linkedin"></i
    ></a>
  </div>
  <div class="f-info-brand mt-1 mb-1">
    &copy; <%= new Date().getFullYear() %> Wanderlust - Your Property Portal.
    All Rights Reserved.
  </div>
  <div class="f-info-links">
    <a href="/listings/others/privacy">Privacy</a>
    <a href="/listings/others/terms">Terms</a>
  </div>
  <div class="quote">
    "The world is a book, and those who do not travel read only one page." -
    Saint Augustine
  </div>
</div>
