<% layout ("/layouts/boilerplate") %>

<div class="row">
    <div 
    class="alert alert-danger d-flex align-items-center col-7 mt-2 offset-2" 
    role="alert"
    >
        <div>
        <%=message%>
        </div>
    </div>
</div>