<% layout("/layouts/boilerplate.ejs") -%>
<div class="row">
  <div class="col-6 offset-3 signInUp">
    <h2>Sign In</h2>
    <form method="post" action="/signin" class="needs-validation" novalidate>
      <div class="mb-3">
        <label for="username" class="form-lable"> Username </label>
        <input
          name="username"
          class="form-control"
          type="text"
          id="username"
          required
        />
      </div>
      <div class="mb-3">
        <label for="password" class="form-lable"> Password </label>
        <input
          name="password"
          class="form-control"
          type="password"
          id="password"
          required
        />
      </div>
      <a class="p-1 rounded newLink" href="/signup"
        >New User? Create an Account!</a
      >
      <br />
      <button class="btn btn-success mt-3">Sign In</button>
    </form>
  </div>
</div>
